.todoForm {
    padding: 5px;
    display: flex;
    flex: 1 1;
}

.textInput {
    flex: 3 1;
}

.dateInput {
    flex: 2 1;
    margin: 0 10px;
}

.submitBtn {
    flex: 1 1;
}

.butt {
    border: 1px outset #1A91DA;
    background-color: #1DA1F2;
    color: white;
    cursor: pointer;
 }
 
 .butt:hover {
    background-color: #1A91DA;
 }