.todoList {    
    margin: 0;
    width: 100%;
}

.hintItem {
    margin: 5px;
    background-color: #d1d1d1;
    border: 1px solid #8686868f;    
    padding: 10px;
    display: flex;
}

.hintInfo {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
}

.mrg {
    width: 26px;
}